* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Hacemos que body use flex para empujar el footer abajo */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Main ocupa todo el espacio disponible menos el footer */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* El content crece para empujar el footer */
#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 80ch;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: end;
    padding: 1rem 1.5rem;
    background-color: rgb(50, 50, 50);
}

ul {
    gap: 1em;
    display: flex;
}

li {
    color: white;
    list-style: none;
    transition: color 0.2;
}

li:hover {
    color: bisque;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    color: rgb(150, 150, 150);
    border-top: 1px solid rgb(230, 230, 230);
}

.sec-imgs img {
    max-width: 100%;
}

.sec-imgs>div {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}